/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    /* Centers content horizontally */
    align-items: center;
    /* Centers content vertically */
    flex-grow: 1;
    /* Allows the main content to grow and fill available space */
    width: 100%;
    /* Takes up the full width of the viewport */
}

.landingpagebody {
    background: url('../images/spoons-wth-tea.jpg') no-repeat center center/cover;

}

.tealogo {
    font-family: "Caveat", cursive;
}

.aboutustextblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.ttsmain {
    font-family: "Caveat", cursive;
    font-size: 59px;
    font-weight: 200;
    padding-bottom: 10px;
}

.block-text {
    display: block;
    text-align: justify;
}

#aboutus {
    background-color: rgba(38, 64, 39, 0.7);
    /* Black background with 50% opacity */
    border-radius: 2%;
    width: 80%;
    color: white;
    padding: 20px;
    border-style: double;
    border-color: bisque;
    border-width: 3px;
}

/* General Styles */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #473144;
    padding: 10px 20px;
    height: 60px;
    color: #ffe3e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.content {
    flex: 1;
}

header h1 {
    color: #ffffff;
}

#logo {
    margin: 0;
    color: #ffe3e0;
    text-decoration: none;
}

/* Hide the menu by default */
.navbar {
    display: none;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: #ffe3e0;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

/* Hamburger Menu Styles */
.nav-toggle-label {
    cursor: pointer;
    font-size: 24px;
    display: none;
    /* Hide the label by default */
}

/* Show the menu when the checkbox is checked */
#menu-bar:checked~.navbar {
    display: block;

}

#menu-bar {
    display: none;
}

/* Show the label and hide the menu items for mobile view */
.nav-toggle-label {
    display: block;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 50px;
    /* Adjust based on header height */
    left: 0;
    background-color: inherit;
}

.navbar ul {
    display: flex;
    flex-direction: column;
}

.navbar li {
    border-bottom: 1px solid #444;
}

.navbar li:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #473144;
    text-align: center;
    z-index: 9999;
    padding: 10px 0;
}

#social-networks {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

#social-networks i {
    font-size: 30px;
    padding: 0 30px;
    color: #ffe3e0
}

/* Ensure sufficient spacing for smaller screens */
#social-networks li a {
    display: inline-block;
    padding: 10px;
    color: inherit;
    /* Inherits color from the li */
    text-decoration: none;
}

/* Enquire Page */

.image {
    background: url('../images/cozyteatable.jpg') no-repeat center center/cover;
}

#enquire {
    background-position: 90%;
    flex-grow: 1;
    padding: 20px 5% 0 5%;
    flex-grow: 1;
}

.enquiremain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacth1 {
    color: #ffffff;
    padding-top: 10px;
    font-size: 80px;
    font-family: "Caveat", cursive;
    padding-bottom: 40px;
}

input {
    background-color: #ffffff;
    border-color: #151517;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 75%;
    height: 30px;
    border-radius: 10%;
}

textarea {
    background-color: #ffffff;
    width: 40%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #151517;
    margin-bottom: 25px;
    width: 75%;
    font-family: "Roboto Mono", monospace;
}

input:focus-within {
    outline: none;
    border-color: aquamarine;
    border-width: 3px;
}

textarea:focus-within {
    outline: none;
    border-color: aquamarine;
    border-width: 3px;
}

button {
    background-color: aquamarine;
    border-radius: 20px;
    border-color: #151517;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin-bottom: 40px;
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}

/* Box around form */

#signup-form {
    color: #151517;
    background-color: rgba(38, 64, 39, 0.7);
    border-radius: 2%;
    width: 100%;
    border-style: double;
    border-color: bisque;
}

/* Gallery Section */

.gallery {
    background: #cbb3bf;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #210203;
    color: #210203;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .heading h3 span {
    font-weight: 100;
    padding-left: 5px;
}

.shop img {
    width: 100%;
    line-height: 1em;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.shop {
    line-height: 0;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .shop {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media (min-width: 768px) {

    /* Adjust header for larger screens */
    .header {
        height: 60px;
        /* Keep the fixed height */
        padding: 10px 20px;
    }

    /* Display the navbar horizontally and always visible */
    .navbar {
        display: flex;
        position: static;
        /* Make it part of the normal document flow */
        background-color: transparent;
        /* Remove background color */
        width: auto;
        /* Adjust width */
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        /* Horizontal layout */
        justify-content: flex-end;
        /* Align items to the right */
        width: 100%;
        /* Take full width */
    }

    .navbar li {
        border-bottom: none;
        margin: 0 10px;
        /* Add margin between menu items */
    }

    /* Hide the hamburger menu */
    .nav-toggle-label {
        display: none;
    }

    #menu-bar {
        display: none;
    }

    /* larger background image to fit better for larger screens */
    .landingpagebody {
        background: url('../images/spoons-wth-tea.jpg') no-repeat center center/cover;
    }

    .ttsmain {
        font-size: 150px;
        margin-top: -100px;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    #aboutus {
        font-size: 20px;
        padding: 50px 50px;
        width: 80%;
        border-style: double;
        border-color: bisque;

    }

    .block-text {
        margin-left: 60px;
        margin-right: 60px;
    }

    #social-networks li {
        font-size: 40px;
    }

    /* Enquire form styles */
    input {
        width: 75%;
    }

    textarea {
        width: 75%;
    }

    #signup-form {
        width: 60%;
    }

    /* Gallery styles */

    .shop {
        column-count: 3;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Adjust header for larger screens */
    .header {
        height: 60px;
        /* Keep the fixed height */
        padding: 10px 20px;
    }

    /* Display the navbar horizontally and always visible */
    .navbar {
        display: flex;
        position: static;
        /* Make it part of the normal document flow */
        background-color: transparent;
        /* Remove background color */
        width: auto;
        /* Adjust width */
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        /* Horizontal layout */
        justify-content: flex-end;
        /* Align items to the right */
        width: 100%;
        /* Take full width */
    }

    .navbar li {
        border-bottom: none;
        margin: 0 10px;
        /* Add margin between menu items */
    }

    /* Hide the hamburger menu */
    .nav-toggle-label {
        display: none;
    }

    #menu-bar {
        display: none;
    }

    /* larger background image to fit better for larger screens */
    .landingpagebody {
        background: url('../images/hero.jpg') no-repeat center center/cover;
    }

    .ttsmain {
        font-size: 150px;
        margin-top: -100px;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .block-text {
        margin-left: 30px;
        margin-right: 30px;
    }

    #social-networks li {
        font-size: 40px;
    }

    input {
        width: 75%;
    }

    textarea {
        width: 75%;
    }

    /* Enquire From Styles */
    #signup-form {
        width: 40%;
    }

    /* Gallery */
    .shop {
        column-count: 4;

    }
}